body {
	font-family: 'PT Sans', sans-serif;
	font-size:  100%;
	font-size: 13px;
	line-height: 24px;
	height: 100%;
	color: #949494;
	background: #eee;
	padding-top: 50px;
}

.navbar .navbar-inner{
	background: url('../../img/front/pattern.png') repeat scroll 0 0 #484848;
}

.navbar .navbar-inner .container{
	background: none repeat scroll 0 0 #343434; padding:0px 20px 0px 20px
}

.navbar .navbar-inner .row .span12{
	padding:5px;
}


#content{
	background: #ffffff; padding:20px
}

.carousel-caption h3{
	color: #ffffff
}
.product-title {
	background: none repeat scroll 0 0 #DB261D;
	color: #DB261D;
	float: left;
	margin-bottom: 30px;
	width: 100%;
}
.product-title h5 {
	font-size: 18px;
	line-height: 13px;
}
.product-title span {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #DB261D;
	font-family: 'PT Sans',sans-serif;
	font-weight: 400;
	margin-left: 20px;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
}

.display_settings_false {
    top: -78px;
}

.settings {
    background: none repeat scroll 0 0 #343434;
    border-bottom: 2px solid #DB261D;
    border-radius: 5px 5px 5px 5px;
    color: #777777;
    height: 38px;
    padding: 20px 0;
    position: absolute;
    top: -78px;
    width: 100%;
    z-index: 9999;
}
.settings .openclose {
    background: url("../../img/front/pull.png") no-repeat scroll right top transparent;
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
#top-content {
    height: 38px;
    margin: auto;
    max-width: 1000px;
}
.full-top {
    margin-right: 10px;
}
#pull-bttn {
    margin: 20px auto auto;
    max-width: 1000px;
}

#header_menu ul.nav li a{
    color: #FFFFFF;
    display: block;
    font-family: 'PT Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    padding: 13px 22px 13px 20px;
    text-decoration: none;
    text-transform: uppercase;    
}

#header_menu ul.nav li.active a{
    background-color: transparent;
    color: #DB261D;
}

#header_menu ul.nav li#nav-logo {
    background: url('../../img/front/logo.png');
    height:50px; 
    width: 83px;
    margin-left: -10px;
}

#header_menu div.container {
    height: 50px;
}

#header_menu div.container div.span12{
    padding-top: 0px; margin-left: 5px;
}
#footer {
    background: none repeat scroll 0 0 #484848;
    padding: 20px;
}

#footer h3{
    color: #EEEEEE;
}

#copyright {
    background: none repeat scroll 0 0 #343434;
    height: 40px;
    margin-bottom: 10px;
    padding: 20px 20px 0pt;
}
ul.footer-menu  {
    position: relative;
    z-index: 300;
    list-style: none outside none;
}
ul.footer-menu li {
    float: left;
    position: relative;
    z-index: 100;
}